<li style="margin: 5px;">
	{{burger_name}}

	<button class="change-devoured btn btn-warning" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}{{else}}Get Devoured!{{/if}}
	</button>


</li>